{
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "requirePragma": true,
    "semi":true,
    "overrides": [{
        "files": ".js",
        "options": {
            "semi": false
        }
    }]
}
