@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    
    pointer-events: none;
}

.main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.main:after {
    content: "";
    background-image: url("../../public/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
}

.tag{

}

.gradient {
    z-index: 3;
    max-width: 640px;
    background-image: radial-gradient(
            at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}


.word-card {
    @apply  mr-6 my-4 px-6 py-4 w-[260px] h-[100px] shadow-lg  rounded-md flex flex-col items-center justify-center break-inside-avoid border border-gray-300 bg-white/20 backdrop-blur-lg backdrop-filter transition-all duration-300 ease-in-out hover:translate-y-1 hover:scale-110;
}

@layer _components {
    .drawer-icon {
        @apply relative flex items-center justify-center
        h-8 w-8 mt-2 mb-2 mx-auto py-[10px] px-[10px] rounded-xl
        text-[#262626]
        hover:bg-[#f5f5f5] hover:text-[#1976d2]
        transition-all duration-300 ease-linear
        cursor-pointer
    }

    .header-icon {
        @apply relative flex items-center justify-center
        h-8 w-8 mt-2 mb-2 mx-auto py-[10px] px-[10px] rounded-xl
        text-[#66FCF1]
        transition-all duration-300 ease-linear
        cursor-pointer
    }

    .expand-icon {
        @apply
        relative flex items-center justify-center   w-[20px]
        rounded-xl
        text-[#262626]
        hover:bg-[#f5f5f5] hover:text-[#1976d2]
        transition-all duration-300 ease-linear
        cursor-pointer
    }

    .on-close {
        @apply
        transition-all duration-300 ease-in-out hover:translate-y-1 scale-110
    }
    .word-form-input{
        @apply
        w-[80%] p-2 text-center border border-[#45A29E] rounded-3xl text-[#45A29E]
    }
    .blue-gradient {
        @apply
        bg-gradient-to-r from-[#9CECFB] via-[#65C7F7] to-[#0052D4]
    }

    .green-gradient {
        @apply
        bg-gradient-to-r from-[#00b09b] to-[#96c93d]
    }

    .purple-gradient {
        @apply
        bg-gradient-to-r from-[#DA4453] to-[#bc375c]
    }

    @layer layout {
        .drawer-link {
            @apply w-[100%]
        }

        .drawer-item {
            @apply flex items-center justify-start
            w-[100%] px-[20px] py-3
                rounded-xl
            hover:bg-[#e6f4ff] hover:border-2 hover:text-[#0b71ff]

            cursor-pointer
        }

        .active {
            @apply text-[#0b71ff]
        }
    }

    /*.drawer-icon-tooltip {*/
    /*  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md*/
    /*  text-white bg-gray-900*/
    /*  text-xs font-bold*/
    /*  transition-all duration-100 ease-linear origin-left*/
    /*}*/
}